.hero{
    padding:0 8%;
    margin-top:100px;
}

.hero-text{
    color:white;
}

.hero-text p{
    font-size:clamp(42px,7vw,80px);
    font-weight:500;
    line-height:1.15;
}

.hero-explore{
    display:flex;
    align-items:center;
    gap:20px;
    width:fit-content;
    background:white;
    padding:8px 25px;
    border-radius:60px;
    margin-top:35px;
    cursor:pointer;
}

.hero-explore p{
    color:#292929;
    font-size:18px;
}

.hero-dot-play{
    margin-top:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero-dots{
    display:flex;
    list-style:none;
    gap:15px;
}

.hero-dot{
    width:14px;
    height:14px;
    background:white;
    border-radius:50%;
    cursor:pointer;
}

.hero-dot.orange{
    background:orangered;
}

.hero-play{
    display:flex;
    align-items:center;
    gap:20px;
    cursor: pointer;
}

.hero-play p{
    color:white;
    font-size:18px;
}

/* ---------- Tablet ---------- */

@media(max-width:992px){

.hero{
    margin-top:70px;
}

.hero-dot-play{
    flex-direction:column;
    gap:30px;
    align-items:flex-start;
}

}

/* ---------- Mobile ---------- */
/* ================= Mobile ================= */

@media (max-width: 768px) {

    .hero {
        padding: 0 25px;
        margin-top: 35px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text p {
        font-size: 52px;
        line-height: 1.1;
        font-weight: 500;
    }

    .hero-explore {
        margin-top: 30px;
        width: 100%;
        justify-content: space-between;
        padding: 8px 8px 8px 20px;
        border-radius: 60px;
    }

    .hero-explore p {
        font-size: 16px;
    }

    .hero-explore img {
        width: 60px;
        height: 60px;
    }

    .hero-dot-play {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .hero-dots {
        gap: 15px;
    }

    .hero-dot {
        width: 12px;
        height: 12px;
    }

    .hero-play {
        gap: 15px;
    }

    .hero-play img {
        width: 55px;
        height: 55px;
    }

    .hero-play p {
        font-size: 16px;
    }
}

.hero img {
    max-width: 100%;
    height: auto;
}